.container-fluid {
    padding: 0px;
}

.mybox {
    padding: 4rem;
}
.services{
    margin-top: -8rem;
}
.service_img{
    width: 100px;
}
.box1{
    background-color: #3151AA;
}
.box2{
    background-color: #5B6149;
}
.box3{
    background-color: #945A5C;
}

.mobile {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    background-color: #7374b0;
}

.cover2 {
    border-radius: 20px;
}

.indexcover {
    height: 600px;
    background-image: url("/images/newcover.jpg");
    background-size: cover;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact_div{
    background-color: #3151AA;
}
.footer{
    background-color: black;
}

.footerlink {
    text-decoration: none;
    color: white;
}
.social{
    font-size: 28px;
}
i{
    padding-right: 10px;
}