<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bike rental</title>
    <link rel="icon" type="image/x-icon" href="{{url_for( 'static', filename='images/favicon.ico' )}}">
    <!-- Boostrap css -->
    <link rel="stylesheet" href="{{url_for( 'static', filename='css/bootstrap.min.css' )}}">
    <!-- Index page stylesheet -->
    <link rel="stylesheet" href="{{url_for( 'static', filename='css/index.css' )}}">
    <!-- Boostrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
    <!-- Nav bar This section contains logo and other pages links -->
    <nav class="navbar fixed-top navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">Bike Rental</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navlist">
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/bike_listing">Bikes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/about">Contact</a>
                    </li>
                    {% if userData.usertype == "admin" %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/dashboard">Admin</a>
                    </li>
                    {%endif%}
                    {% if not loggedIn %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/register">Register</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/logout">Logout</a>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Bikes list -->

    <div class="container mt-5 py-5">
        <div class="row">
            <div class="col-md">
                <div class="px-5">
                    <img src="/static/uploads/{{bike.image}}" alt="" width="100%">
                </div>
            </div>
            <div class="col-md">
                <h2>{{bike.bikename}}</h2>
                <p>{{bike.description}}</p>
                <div class="row">
                    <div class="col card m-2 p-2">
                        <div class="d-flex justify-content-center">
                            <img src="{{url_for( 'static', filename='images/engine.svg' )}}" alt="" width="50px">
                        </div>
                        <p class="text-center fw-bold">Engine</p>
                        <p class="text-center">{{bike.engine}}</p>
                    </div>
                    <div class="col card m-2 p-2">
                        <div class="d-flex justify-content-center">
                            <img src="{{url_for( 'static', filename='images/mileage.svg' )}}" alt="" width="50px">
                        </div>
                        <p class="text-center fw-bold">Mileage</p>
                        <p class="text-center">{{bike.mileage}} kmpl</p>

                    </div>
                    <div class="col card m-2 p-2">
                        <div class="d-flex justify-content-center">
                            <img src="{{url_for( 'static', filename='images/gear.svg' )}}" alt="" width="50px">
                        </div>
                        <p class="text-center fw-bold">Transmission</p>
                        <p class="text-center">{{bike.transmission}}</p>
                    </div>
                </div>
                <div class="row py-4 ">
                    <p class="price">Price: {{bike.price}} £/day</p>
                </div>

                <form onsubmit="event.preventDefault(); validateMyForm('{{loggedIn}}');" class="">
                    <div class="row mb-5">
                        <div class="col">
                            <label for="from" class="form-label fw-bold">From</label>
                            <select class="form-select" required name="from">
                                <option selected value="">--</option>
                                <option value='Bath'>Bath</option>
                                <option value='Birmingham'>Birmingham</option>
                                <option value='Bredford'>Bredford</option>
                                <option value='Brihgton'>Brihgton&Hove</option>
                                <option value='Cambridge'>Cambridge</option>
                                <option value='Canterbury'>Canterbury</option>
                                <option value='Carlise'>Carlise</option>
                                <option value='Chester'>Chester</option>
                                <option value='Chichester'>Chichester</option>
                                <option value='Colchester'>Colchester</option>
                                <option value='Coventry'>Coventry</option>
                                <option value='Derby'>Derby</option>
                                <option value='Doncaster'>Doncaster</option>
                                <option value='Durham'>Durham</option>
                                <option value='Exeter'>Exeter</option>
                                <option value='Leeds'>Leeds</option>
                                <option value='Leicester'>Leicester</option>
                                <option value='Liverpool'>Liverpool</option>
                                <option value='London'>London</option>
                                <option value='Manchester'>Manchester</option>
                                <option value='Newcastle-Upon-Tyne'>Peshkopi</option>
                                <option value='Norwich'>Norwich</option>
                                <option value='Oxford'>Oxford</option>
                                <option value='Portsmouth'>Portsmouth</option>
                                <option value='Preston'>Preston</option>
                                <option value='Salford'>Salford</option>
                                <option value='Sheffield'>Sheffield</option>
                                <option value='Southampton'>Southampton</option>
                                <option value='Southend-on-Sea'>Southend-on-Sea</option>
                                <option value='St Albans'>St Albans</option>
                                <option value='Stoke on Trent'>Stoke on Trent</option>
                                <option value='Sunderland'>Sunderland</option>
                                <option value='Truro'>Truro</option>
                                <option value='Wakefield'>Wakefield</option>
                                <option value='Wells'>Wells</option>
                                <option value='Westminster'>Westminster</option>
                                <option value='Winchester'>Winchester</option>
                                <option value='Wolverhampton'>Wolverhampton</option>
                                <option value='Worcester'>Worcester</option>
                                <option value='York'>York</option>

                            </select>
                        </div>
                        <div class="col">
                            <label for="to" class="form-label fw-bold">To</label>
                            <select class="form-select" required name="to">
                                <option value='Bath'>Bath</option>
                                <option value='Birmingham'>Birmingham</option>
                                <option value='Bredford'>Bredford</option>
                                <option value='Brihgton'>Brihgton&Hove</option>
                                <option value='Cambridge'>Cambridge</option>
                                <option value='Canterbury'>Canterbury</option>
                                <option value='Carlise'>Carlise</option>
                                <option value='Chester'>Chester</option>
                                <option value='Chichester'>Chichester</option>
                                <option value='Colchester'>Colchester</option>
                                <option value='Coventry'>Coventry</option>
                                <option value='Derby'>Derby</option>
                                <option value='Doncaster'>Doncaster</option>
                                <option value='Durham'>Durham</option>
                                <option value='Exeter'>Exeter</option>
                                <option value='Leeds'>Leeds</option>
                                <option value='Leicester'>Leicester</option>
                                <option value='Liverpool'>Liverpool</option>
                                <option value='London'>London</option>
                                <option value='Manchester'>Manchester</option>
                                <option value='Newcastle-Upon-Tyne'>Peshkopi</option>
                                <option value='Norwich'>Norwich</option>
                                <option value='Oxford'>Oxford</option>
                                <option value='Portsmouth'>Portsmouth</option>
                                <option value='Preston'>Preston</option>
                                <option value='Salford'>Salford</option>
                                <option value='Sheffield'>Sheffield</option>
                                <option value='Southampton'>Southampton</option>
                                <option value='Southend-on-Sea'>Southend-on-Sea</option>
                                <option value='St Albans'>St Albans</option>
                                <option value='Stoke on Trent'>Stoke on Trent</option>
                                <option value='Sunderland'>Sunderland</option>
                                <option value='Truro'>Truro</option>
                                <option value='Wakefield'>Wakefield</option>
                                <option value='Wells'>Wells</option>
                                <option value='Westminster'>Westminster</option>
                                <option value='Winchester'>Winchester</option>
                                <option value='Wolverhampton'>Wolverhampton</option>
                                <option value='Worcester'>Worcester</option>
                                <option value='York'>York</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="days" class="col-sm-2 col-form-label fw-bold">Rent for</label>
                        <div class="col-sm-4 mb-3">
                            <input type="number" class="form-control" name="days" id="days" min="1" required>
                        </div>
                        <div class="col">
                            <select class="form-select">
                                <option value="1">Days</option>
                                <option value="2">Hours</option>
                                <option value="3">Week</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-grid gap-2 mt-5">
                        <button class="btn btn-success" type="submit">Book</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex justify-content-center row mt-3">
            <div class="col-md-4">
                <div class="d-flex justify-content-between">
                    <span class="h3">User Rating</span>
                    <div>
                        {% for i in range(1,6) %}
                        {% if ratingsData.avg_ratings and ratingsData.avg_ratings >= i %}
                        <i class="bi bi-star-fill"></i>
                        {% else %}
                        <i class="bi bi-star"></i>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <p>{{ratingsData.avg_ratings if ratingsData.avg_ratings != None else 0 }} average based on
                    {{ratingsData.tot_ratings}} reviews.</p>
                <hr style="border:3px solid #9a9a9a">
                <div class="d-flex justify-content-between mb-3">
                    <div class="pe-3 stars">5 star</div>
                    <div class="flex-grow-1">
                        {% if ratingsData.tot_ratings != 0 %}
                        <div class="rate"
                            style="width:{{ ((100 * ratingsData.five_rating) / ratingsData.tot_ratings) }}%"></div>
                        {% endif %}
                    </div>
                    <div class="ps-4">{{ratingsData.five_rating}}</div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div class="pe-3 stars">4 star</div>
                    <div class="flex-grow-1">
                        {% if ratingsData.tot_ratings != 0 %}
                        <div class="rate"
                            style="width:{{ ((100 * ratingsData.four_rating) / ratingsData.tot_ratings) }}%"></div>
                        {% endif %}

                    </div>
                    <div class="ps-4">{{ratingsData.four_rating}}</div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div class="pe-3 stars">3 star</div>
                    <div class="flex-grow-1">
                        {% if ratingsData.tot_ratings != 0 %}
                        <div class="rate"
                            style="width:{{ ((100 * ratingsData.three_rating) / ratingsData.tot_ratings) }}%"></div>
                        {% endif %}

                    </div>
                    <div class="ps-4">{{ratingsData.three_rating}}</div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div class="pe-3 stars">2 star</div>
                    <div class="flex-grow-1">
                        {% if ratingsData.tot_ratings != 0 %}
                        <div class="rate"
                            style="width:{{ ((100 * ratingsData.two_rating) / ratingsData.tot_ratings) }}%"></div>
                        {% endif %}

                    </div>
                    <div class="ps-4">{{ratingsData.two_rating}}</div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div class="pe-3 stars">1 star</div>
                    <div class="flex-grow-1">
                        {% if ratingsData.tot_ratings != 0 %}
                        <div class="rate"
                            style="width:{{ ((100 * ratingsData.one_rating) / ratingsData.tot_ratings) }}%"></div>
                        {% endif %}

                    </div>
                    <div class="ps-4">{{ratingsData.one_rating}}</div>
                </div>
            </div>
            <div class="col-md">
                <span class="h3">Comments</span>

                <div class="row p-4">
                    <form action="/bike_detail/{{bike.bikeid}}/" id="commentform" method="post" onsubmit="event.preventDefault(); validatecomment('{{loggedIn}}')">
                        <textarea required class="form-control ml-1 shadow-none textarea" name="comment" id="comment"
                            placeholder="Leave a comment."></textarea>
                        <br>
                        <div class="d-flex justify-content-between">
                            <div class="rating">
                                <label>
                                    <input type="radio" name="stars" value="1" required />
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="2" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="3" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="4" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                                <label>
                                    <input type="radio" name="stars" value="5" />
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                    <span class="icon">★</span>
                                </label>
                            </div>
                            <button class="btn btn-secondary">Post comment</button>
                        </div>
                    </form>

                </div>
                <div class="d-flex flex-column comment-section p-4" style="max-height: 350px;overflow-x: auto;">
                    {% for comment in commentsData %}
                    <div class="card shadow mb-3 px-4">
                        <p><b>{{comment.first_name}}</b> {{comment.date_diff}}</p>
                        <p>{{comment.message}}</p>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



    <!-- Footer section  -->
    <div class="container-fluid text-white bg-black p-5">
        <div class="row mx-md-4">
            <div class="col-md px-4">
                <div class="row">
                    <div class="col-md">
                        <h2>About us</h2>
                        <a class="footerlink" href="/">
                            <p>Home</p>
                        </a>
                        <a class="footerlink" href="/gallery">
                            <p>Gallery</p>
                        </a>
                        <a class="footerlink" href="/about">
                            <p>Contact</p>
                        </a>
                    </div>
                    <div class="col-md">
                        <h2>Contact</h2>
                        <p>Email: bikerent@bikerent.com</p>

                    </div>
                </div>

            </div>
            <!-- Newsletter section  -->
            <div class="col-md px-4">
                <h2>Subscribe to our newsletter</h2>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                    <label for="newsletter1" class="visually-hidden">Email address</label>
                    <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                    <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
            </div>
        </div>
        <!-- Social links -->
        <div class="row text-center p-2">
            <p class="social zoom">
                <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="https://instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
            </p>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Thanks</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-center tick"><i class="bi bi-check-lg"></i></p>
                    <p class="text-center">Your request has been sent.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{url_for( 'static', filename='js/bootstrap.bundle.min.js' )}}"></script>
    <script src="{{url_for( 'static', filename='js/main.js' )}}"></script>
</body>

</html>