<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bike rental</title>
    <link rel="icon" type="image/x-icon" href="{{url_for( 'static', filename='images/favicon.ico' )}}">
    <!-- Boostrap css -->
    <link rel="stylesheet" href="{{url_for( 'static', filename='css/bootstrap.min.css' )}}">
    <!-- Index page stylesheet -->
    <link rel="stylesheet" href="{{url_for( 'static', filename='css/index.css' )}}">
    <!-- Boostrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>
    <!-- Nav bar This section contains logo and other pages links -->
    <nav class="navbar fixed-top navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">Bike Rental</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navlist">
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/bike_listing">Bikes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/about">Contact</a>
                    </li>
                    {% if userData.usertype == "user" %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/dashboard">Admin</a>
                    </li>
                    {%endif%}
                    {% if not loggedIn %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/register">Register</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold" href="/logout">Logout</a>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main page cover section  -->
    <div class="container-fluid indexcover">
        <div class="centered text-white">
            <h1 class="display-2 fw-bold">Best Bike rental!</h1>
        </div>

    </div>
    <!-- Features -->
    <div class="container">
        <div class="row text-white text-center services">
            <div class="col-md mybox m-md-2 mb-2 box1 zoom">
                <img class="service_img" src="{{url_for( 'static', filename='images/creditcard.png' )}}" alt="">
                <br><br>
                <h2>Faster pick-up</h2>
                <p class="lead">We have your contract already prepared</p>
            </div>
            <div class="col-md mybox m-md-2 mb-2 box2 zoom">
                <img class="service_img" src="{{url_for( 'static', filename='images/motorcycle.png' )}}" alt="">
                <br><br>
                <h2>Rental journey</h2>
                <p class="lead"> Over 70 years of experience</p>
            </div>
            <div class="col-md mybox m-md-2 mb-2 box3 zoom">
                <img class="service_img" src="{{url_for( 'static', filename='images/jeep.png' )}}" alt="">
                <br><br>
                <h2>Better service</h2>
                <p class="lead">We know you better, we serve you better</p>
            </div>
        </div>
        <div class="row p-4">
            <p class="lead text-center">Discover new places and create lasting memories with our bike rentals</p>
        </div>
        <div class="row px-md-4 py-5">
            <div class="col-md">
                <div class="row mb-3">
                    <div class="col-3"><img src="{{url_for( 'static', filename='images/free.png' )}}" alt="" width="80px"></div>
                    <div class="col">
                        <h2> Free Cancellation</h2>
                    </div>
                </div>

            </div>
            <div class="col-md">
                <div class="row mb-3">
                    <div class="col-3"><img src="{{url_for( 'static', filename='images/dollar.png' )}}" alt="" width="80px"></div>
                    <div class="col">
                        <h2>No Hidden Charges</h2>
                    </div>
                </div>

            </div>
            <div class="col-md">
                <div class="row mb-3">
                    <div class="col-3"><img src="{{url_for( 'static', filename='images/headset.png' )}}" alt="" width="80px"></div>
                    <div class="col">
                        <h2>24/7 Customer Support</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Contact number section -->
    <div class="container-fluid contact_div">
        <div class="row mx-md-5">
            <div class="col-md-8 p-md-5 p-4 my-5 text-white">
                <h1 class="display-5">Book bike near you by giving us a call!</h1>
            </div>
            <div class="col-md p-5 my-5 text-white">
                <a class="tele" href="tel:+44-432-234-432">
                    <h3 class="mobile zoom"><i class="bi bi-telephone"></i>+44-432-234-432</h3>
                </a>

            </div>
        </div>
    </div>
    <!-- Bikes listing section  -->
    <div class="container">
        <div class="row text-center m-md-5 p-4">
            <h1> Best bike rentals from top suppliers</h1>
            <p class="lead">
                Our suppliers provide both automatic and manual transmission bikes in the US, however, availability
                may vary depending on the supplier and the location where you are renting the vehicle.
            </p>
        </div>
        {% for bike in itemData %}
        <div class="row my-4 p-4">
            <div class="col-md-4 p-4 text-center">
                <img class="zoom" src="/static/uploads/{{bike.image}}" alt="" height="200px">
            </div>
            <div class="col-md">
                <h2>{{bike.bikename}}</h2>
                <p>{{bike.description}}</p>
                <a href="/bike_detail/{{bike.bikeid}}/"><button class="btn btn-primary">Book now</button></a>
            </div>
        </div>
        <hr>
        {%endfor%}
        <div class="text-center mb-3">
            <a href="/bike_listing"><button class="btn btn-secondary">See more</button></a>
        </div>
        
        

    </div>
    <!-- Other info about bike rental website -->
    <div class="container-fluid box3">
        <div class="row mx-md-5 p-5 text-white">
            <div class="col-md">
                <img src="{{url_for( 'static', filename='images/cover2.jpg' )}}" alt="" width="100%" class="cover2">
            </div>
            <div class="col-md m-2">
                <h1 class="display-4">Bike rentals for every level of rider</h1>
                <p class="fw-bold lead">Ride with us and make your next adventure one to remember</p>
                <p class="">At Bike rental, we believe that exploring the world on a bike is one of the most
                    exhilarating and freeing ways to travel. Our wide selection of high-quality bikes, ranging from
                    mountain bikes to road bikes to hybrids, are perfect for tackling any terrain. Whether you're an
                    experienced rider looking to hit the trails or a beginner looking to take a leisurely ride through
                    the city, we have the perfect bike for you. Our team of knowledgeable and friendly staff will help
                    you find the perfect fit and provide you with all the necessary equipment and safety gear to ensure
                    a safe and enjoyable ride. So why wait? Come join us and discover the beauty and adventure that
                    awaits on two wheels with our top-notch bike rentals.
                </p>
            </div>
        </div>

    </div>
    <!-- Graph section -->
    <div class="container p-2">
        <div class="row p-5">
            <div class="col-md">
                <h2>Bike rental Achievements</h2>
                <p class="lead">We partner with several new bike brands to offer test rides of their latest models in
                    all four of our
                    bike rental locations. Bikes from partner brands can be test ridden or rented so you can try them
                    out
                    before making a purchase!</p>
                
                <ul class="achive_list">
                    <li>Better service</li>
                    <li>24/7 support</li>
                    <li>Fair prices</li>
                </ul>
            </div>
            <div class="col-md">
                <canvas id="myChart" style="width: 100%;height: 400px;"></canvas>
            </div>
        </div>

    </div>
    <!-- Footer section  -->
    <div class="container-fluid text-white bg-black p-5">
        <div class="row mx-md-4">
            <div class="col-md px-4">
                <div class="row">
                    <div class="col-md">
                        <h2>About us</h2>
                        <a class="footerlink" href="/">
                            <p>Home</p>
                        </a>
                        <a class="footerlink" href="/gallery">
                            <p>Gallery</p>
                        </a>
                        <a class="footerlink" href="/about">
                            <p>Contact</p>
                        </a>
                    </div>
                    <div class="col-md">
                        <h2>Contact</h2>
                        <p>Email: bikerent@bikerent.com</p>

                    </div>
                </div>

            </div>
            <!-- Newsletter section  -->
            <div class="col-md px-4">
                <h2>Subscribe to our newsletter</h2>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                    <label for="newsletter1" class="visually-hidden">Email address</label>
                    <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                    <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
            </div>
        </div>
        <!-- Social links -->
        <div class="row text-center p-2">
            <p class="social zoom">
                <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
                <a href="https://instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
            </p>
        </div>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{url_for( 'static', filename='js/graph.js' )}}"></script>
    
</body>

</html>